@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #e0ebed;
  --text-dark: #231e22;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
a, li, ul {
    text-decoration: none;
    list-style: none;
}

a {
    transition: 0.3s;
}

html,
body {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    position: relative;
    isolation: isolate;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: var(--text-dark);
    text-align: center;
    overflow: hidden;
}

.section__header::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #24453a;
    border-radius: 1rem;
}

.section__header::after {
    position: absolute;
    content:  "";
    height: 5px;
    width: 6px;
    bottom: 0;
    left: calc(50% + 3rem);
    transform: translateX(-50%);
    background-color: #24453a;
    border-radius: 1rem;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-dark);
    translate: 0.3s;
    cursor: pointer;
}

.btn {
    background-color: var(--text-light);
}

img {
    display: flex;
    width: 100%;
}

/* navigation bar */

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav__logo a {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav__links.open {
    transform: translateY(100%);
}

.nav__links a {
    font-weight: 500;
    color: var(--text-dark);
    white-space: nowrap;
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__header {
        flex: 1;
        padding: 0;
        background: transparent;
    }

    .nav__logo a {
        font-size: 1.55em;
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        font-size: 0.93rem;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }

    .nav__links a:hover {
        color: var(--text-light);
    }
}


