
/* google font */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {

    --primary-light: #FFFFFF;
    --primary-dark: #0c0c0c;

    --text-dark: #0f0f0f;
    --text-gray: #8d8d8d;
    
    --gray-light: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a,li,ul {
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Manrope", sans-serif;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding-inline: 1.2rem;
    padding-block: 1rem;
    scroll-behavior: smooth;
}

.hero__section {
    /* min-height: 120vh; */
    width: 100%;
    padding-bottom: 2rem;
    background-image: url(./assets/Hero-5.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1.2rem;
}

.navBar {
    width: 100%;
    padding-block: 1rem;

    display: flex;
    align-items: center;
}

.nav__links {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav__links h4 a {
    font-size: 1.2rem;
    color: var(--primary-light);
}

.nav__menu {
    display: none;
}

.nav__menu i {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-light);
    cursor: pointer;
}

.hero__content {
    width: 100%;
}

.hero__title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__title h1 {
    font-size: 18rem;
    color: var(--primary-light);
}

.hero__text {
    width: 100%;
    padding-inline: 12rem;
}

.content__title__text {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.content__title__text h2 {
    font-size: 2rem;
    color: var(--primary-light);
}

.content__title__text p {
    font-size: 1.5rem;
    color: var(--primary-light);
}


.search__container {
    max-width: fit-content;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--primary-light);
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.search__group {
    padding-inline: 0.5rem;
    border-right: 2px solid var(--gray-light);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search__group h4 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-dark);
}

.search__group select {
    width: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search__btn button {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    cursor: pointer;

    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
}

.sub__hero__section {
    width: 100%;
    padding-block: 8rem 4rem;
    padding-inline: 6rem;
}

.main__text__container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.left__text {
    width: 50%;
}

.left__text p {
    font-size: 1.2rem;
    color: var(--text-gray);
}

.right__text {
    width: 50%;
}

.right__text h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-dark);
}

.carousel__section {
    width: 100%;
    padding-inline: 6rem;
    padding-block: 4rem;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    width: 40%;
    cursor: pointer;
}

.slider__card {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image__box {
    border-radius: 1rem;
    overflow: hidden;
}

.image__box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slider__text h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-dark);
}

.slider__text p {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-gray);
}


@media (width < 1024px) {

    .hero__title h1 {
        font-size: 12rem;
    }

    .hero__text {
        padding-inline: 5rem;
    }

    .content__title__text h2 {
        font-size: 1.6rem;
    }

    .content__title__text p {
        font-size: 1.2rem;
    }

    .sub__hero__section {
        padding-inline: 4rem;
    }

    .swiper {
        width: 100%;
    }

    .carousel__section {
        padding-inline: 2rem;
    }

}


@media (width < 768px) {

    .nav__links {
        display: none;
    }

    .navBar {
        padding-inline: 1rem;
        justify-content: flex-end;
    }

    .nav__menu {
        display: block;
    }

    .hero__title h1 {
        font-size: 8rem;
    }

    .hero__text {
        padding-inline: 4rem;
    }

    .content__title__text h2 {
        font-size: 1.4rem;
    }

    .content__title__text p {
        font-size: 1rem;
    }

    .search__container {
        padding: 0.6rem;
        gap: 1rem;
        border-radius: 1rem;
    }

    .search__group {
        gap: 0.4rem;
    }

    .search__group h4 {
        font-size: 0.8rem;
    }

    .search__btn button {
        padding: 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
    }

    .sub__hero__section {
        padding-block: 4rem 1rem;
        padding-inline: 4rem;
    }

    .left__text p {
        font-size: 0.8rem;
    }

    .right__text h4 {
        font-size: 1rem;
    }

    .carousel__section {
        padding-inline: 4rem;
    }

    .swiper {
        width: 100%;
    }

    .slider__text h4 {
        font-size: 1rem
    }

    .slider__text p {
        font-size: 0.8rem;
    }

}


@media (width < 540px) {

    .wrapper {
        padding-inline: 0.6rem;
    }

    .hero__title h1 {
        font-size: 6rem;
    }

    .hero__text {
        padding-inline: 1.5rem;
    }

    .content__title__text h2 {
        font-size: 1.2rem;
    }

    .content__title__text p {
        font-size: 0.8rem;
    }

    .search__container {
        gap: 0.4rem;
    }

    .search__group {
        padding-inline: 0.2rem;
        gap: 0.4rem;
    }

    .search__group h4 {
        font-size: 0.6rem;
    }

    .search__btn button {
        font-size: 0.6rem;
    }

    .sub__hero__section {
        padding-inline: 2rem 1rem;
    }

    .main__text__container {
        flex-direction: column;
        gap: 4rem;
    }

    .left__text {
        width: 100%;
    }

    .right__text {
        width: 100%;
    }

    /* .carousel__section {
        padding-inline: 2rem;
    } */

    .carousel__section {
        padding-inline: 2rem;
    }

    .swiper {
        width: 100%;
    }

    .slider__text h4 {
        font-size: 1rem
    }

    .slider__text p {
        font-size: 0.8rem;
    }


}